<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.1//EN" "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="com.puppycrawl.tools.checkstyle.checks.ConstantNameCheck">
            <property name="format" value="^[A-Z](_?[A-Z0-9]+)*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.JavadocMethodCheck">
            <property name="allowMissingParamTags" value="false"/>
            <property name="allowMissingReturnTag" value="false"/>
            <property name="allowMissingThrowsTags" value="false"/>
            <property name="allowThrowsTagsForSubclasses" value="false"/>
            <property name="allowUndeclaredRTE" value="false"/>
            <property name="scope" value="private"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="METHOD_DEF, CTOR_DEF"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.JavadocTypeCheck">
            <property name="scope" value="private"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="CLASS_DEF, INTERFACE_DEF"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.JavadocVariableCheck">
            <property name="scope" value="private"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.LocalFinalVariableNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.LocalVariableNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.MemberNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.MethodNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.PackageNameCheck">
            <property name="format" value="^[a-z]+(\.[a-z[a-z0-9]*)*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.ParameterNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.StaticVariableNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="com.puppycrawl.tools.checkstyle.checks.TypeNameCheck">
            <property name="format" value="^[A-Z][a-zA-Z0-9]*$"/>
            <property name="severity" value="warning"/>
            <property name="tokens" value="CLASS_DEF, INTERFACE_DEF"/>
        </module>
    </module>
</module>
