/* $Id: kupucyklotronstyles.css,v 1.2 2005-06-14 11:09:07 zwierzem Exp $ */

.kupu-pagebreak {background-image: url("pagebreak.gif");}
.kupu-removeformat {background-image: url("../../icons/edit/clear.gif");}

.kupu-removelink {background-image: url("../common/kupuimages/remove-link.png");}
.kupu-removeimage {background-image: url("../common/kupuimages/remove-image.png");}


.kupu-editor { /* #kupu-editor */
  height: 450px;
  width: 99%;
}

.kupu-sourcemode .kupu-toolboxes { display: none; }

div.kupu-toolboxes {
  margin-right: 0;
  margin-bottom: 0;
}

input.kupu-toolbox-nr {
  width: 4em;
  text-align: right;
}

.kupu-toolbox-buttons button {
  width: auto;
}

div.kupu-toolbox h1, div.kupu-toolbox-active h1,
div.kupu-toolbox h1.plain, div.kupu-toolbox-active h1.plain {
  background-color: ButtonFace;
}

div.kupu-toolbox h1.active, div.kupu-toolbox-active h1.active {
  background-color: yellow;
}

div.kupu-toolbox h1.plain, div.kupu-toolbox-active h1.plain,
div.kupu-toolbox h1.active, div.kupu-toolbox-active h1.active {
  cursor: pointer;
}
