#**
 * Emits a new line.
 *###
#macro(EOL)

#end##
##
#**
 * Prints statements according to a template, with a variable argument.
 *
 * If there are no items, nothing will be printed. If there is more than one item, all statements 
 * except the  first will be commented out.
 *
 * @param indent indentation string.
 * @param pre first part of statement template.
 * @param items list of strings to be inserted in the statement template.
 * @param post second part of the statement template.
 *###
#macro(alternatives $indent $pre $items $post)
#if($items.size() == 1)
${indent}${pre}${items.get(0)}${post}
#else
#foreach($item in $items)
#if($velocityCount == 1)
${indent}${pre}${item}${post}
#else
${indent}// ${pre}${item}${post}
#end
#end
#end
#end##
##
#set($relativeUrl = $logic.getRelativeUrl($interchange.url))
#if($relativeUrl)
##      // $interchange.method $logic.getRelativeUrl($interchange.baseUrl) -> $interchange.statusCode
#if($interchange.previous)
#set($previousPage = $logic.parsePage($interchange.previous.url, $interchange.previous.responseBody))##
#set($form = $logic.getFormByParameterNames($previousPage, $interchange.postParameters))
#end##if(interchange.previous)
#if($interchange.method == 'GET')
#if($previousPage)
#set($linkIds = $logic.getLinkIds($previousPage, $interchange.url))
#set($linkTexts = $logic.getLinkTexts($previousPage, $interchange.url))
#end
#if($linkIds.size() > 0)
#alternatives('        ' 'clickLink("' $linkIds '");')##
#elseif($linkTexts.size() > 0)
#alternatives('        ' 'clickLinkWithText("' $linkTexts '");')##
#else	
        beginAt("${relativeUrl}"); #if($previousPage)// TODO select correct link#end#EOL()
#end##if($linkIds.size() > 0 || $linkTexts.size() > 0)
#else## POST
#if($form && $logic.getForms($previousPage).size() > 1)
        setWorkingForm("${form.name}");
#elseif(!$form)
        setWorkingForm("UNKNOWN"); #if($previousPage)// TODO defined forms: $logic.getForms($previousPage)#end#EOL()
#end##if($formName)
#foreach($param in $interchange.postParameters.keySet())
        setFormElement("${param}", "${logic.escapeParam($interchange.postParameters.get($param))}");
#end##foreach($param)
#set($submitButton = $logic.getPostSubmitButton($form, $interchange.postParameters))
#set($submitButtonIndices = $logic.getPostSubmitButtonIndices($form))
#set($buttonIds = $logic.getPostButtonsIds($form))
#set($buttonIndices = $logic.getPostButtonIndices($form))
#set($linkIds = $logic.getPostLinkIds($previousPage))
#set($linkTexts = $logic.getPostLinkTexts($previousPage))
#if($submitButton)
	    submit("${submitButton.name}","${submitButton.value}");
###elseif($submitButtonIndices.size() > 0)
###alternatives('        ' 'submit(' $submitButtonIndices ');')##
#elseif($buttonIds.size() > 0)
#alternatives('        ' 'clickButton("' $buttonIds '");')##
###elseif($buttonIndices.size() > 0)
###alternatives('        ' 'clickButton(' $buttonIndices ');')##
#elseif($linkIds.size() > 0)
#alternatives('        ' 'clickLink("' $linkIds '");')##
#elseif($linkTexts.size() > 0)
#alternatives('        ' 'clickLinkWithText("' $linkTexts '");')##
#else
        submit();
#end
#end##GET/POST
        assertActualView("${logic.getActualView($interchange.responseBody)}");
#if($interchange.allParameters.containsKey('action'))
#set($actionResult = $logic.getActionResult($interchange.responseBody))
#if($actionResult)
        assertActionResult("${actionResult}");
#else
        assertNoActionResult();
#end##if($actionResult)
#end##if($previousPage && 'action' defined)
#else
        // REQUEST OUTSIDE template.baseUrl: $interchange.method $interchange.url -> $interchange.statusCode
#end##if($relativeUrl)

