/** Other form elements. */
button,
input,
textarea,
select {
    border: solid 1px rgb(120,120,120);
}

button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
    background-color: rgb(220,220,220);
}

/** Special appearance classes. */
.formtool-required {
    border: solid 2px rgb(255,50,50);
}
.formtool-required-value {
    background-color: rgb(255,150,150);
    border: solid 2px rgb(255,50,50);
}

.formtool-alert {
    background-color: rgb(255,150,150);
    font-weight: bold;
    font-size: 80%;
    /*color: rgb(255,50,50); */
}

.formtool-label {
    width: 150px;
    font-weight: bold;
    font-size: 80%;
    text-align: right;
}

.formtool-hint {
    width: 20px;
}

/** Groups */
.formtool-page {
    width: 550px;
}

.formtool-group-head-1,
.formtool-group-head-2 {
  padding: 3px;
  font-weight: bold;
  color: white;
}

.formtool-group-head-1 {
  background-color: rgb(80,80,80);
  font-size: 14px;
}

.formtool-group-head-2 {
  background-color: rgb(120,120,120);
  font-size: 13px;
}

/** - - - - - - - - - - - - - - - - */
.formtool-table {
    width: 100%;
    border-spacing: 0px;
}

.formtool-table td {
    padding: 4px;
    margin: 0px;
}

