.sectionTitle {
  margin-bottom: 10px;
}

.subsection {
  margin-top: 10px;
  padding-left: 10px;
}

#leftColumn {
  width: 16%;
}

p.more {
  text-align: right;
}

.navLink .navLink {
  margin-left: 10px;
}

ul {
  padding-left: 0px;
}