<?xml version="1.0"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">
<web-app>
  <servlet>
    <servlet-name>ledge</servlet-name>
    <servlet-class>org.objectledge.web.LedgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ledge</servlet-name>
    <url-pattern>/ledge/*</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <!-- Added for XHTML support -->
  <mime-mapping>
    <extension>js</extension>
    <mime-type>text/javascript</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <!-- -->
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Application data</web-resource-name>
      <url-pattern>/config/*</url-pattern>
      <url-pattern>/locale/*</url-pattern>
      <url-pattern>/logs/*</url-pattern>
      <url-pattern>/templates/*</url-pattern>
      <url-pattern>/data/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>nobody</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>CVS control directories</web-resource-name>
      <url-pattern>*/CVS</url-pattern>
      <url-pattern>*/CVS/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>nobody</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
