<?xml version="1.0" encoding="ISO-8859-1"?>
<document>
  <properties>
    <title>Context</title>
  </properties>

  <body>
    <section name="Context">
      <p>Dependencies
        <table>
          <tr>
            <th>required components</th>
            <td width="100%">none</td>
          </tr>
          <tr>
            <th>required libraries</th>
            <td>none</td>
          </tr>
        </table>
      </p>

      <p>Provides dependant components with a nontion of <em>thread context</em>, that is a set
      of name - value pairs (boths elements are arbitrary Java objectss) that is specific
	  to the currently executing thread. This allows passing information across the method
	  call stack without actually pushing it through formal arguments. Servlet Request and
	  Response objects, authentication and transactiotion managment objects are conveniently
	  passed around using thread context.</p>

	  <p><a href="../apidocs/org/objectledge/context/Context.html">View JavaDoc</a></p>

      <p>Constructor parameters<br/>
	  none</p>
    </section>
  </body>
</document>  
  