<?xml version="1.0" encoding="ISO-8859-1"?>
<document>
  <properties>
    <title>Persistence</title>
  </properties>

  <body>
    <section name="Persistence">
      <subsection name="Description">
        <p>The persistence component provides simple Object-Relational Database mapping.
        The component manages the objects that implements the <code>Persistent</code> interface.
        </p>
      </subsection>
    
      <subsection name="Browse">
	    <p>
	      <ul>
	        <li>Persistence <a href="../apidocs/org/objectledge/database/persistence/Persistence.html">JavaDoc</a></li>
	        <li>Persistence <a href="../xref/org/objectledge/database/persistence/Persistence.html">XRef</a></li>
	        <li>Persistence <a href="http://objectledge.org/fisheye/ledge/ledge-components/src/main/java/org/objectledge/database/persistence/Persistence.java">CVS log</a></li>
	      </ul>
	    </p>
      </subsection>

      <subsection name="Dependencies">
        <p>
          <table>
            <tr>
              <th>required components</th>
              <td width="100%">
                <a href="Database.html">Database</a>, 
                <a href="../../../ledge-container/docs/container-subsystems/LoggerFactory.html">LoggerFactory</a>
              </td>
            </tr>
            <tr>
              <th>required libraries</th>
              <td>DNA API (dna:dna-api), PicoContainer (picocontainer)</td>
            </tr>
          </table>
        </p>
      </subsection>

      <subsection name="Constructor parameters">		
  	    <p>
	      <table>
	        <tr>
              <th>position</th>
	          <th>type</th>
	          <th widht="100%">description</th>
            </tr>
            <tr>
	          <td>1</td>
	          <td><code>org.objectledge.database.Database</code></td>
	          <td>the database</td>
	        </tr>
		    <tr>
		      <td>2</td>
		      <td><code>org.jcontainer.dna.Logger</code></td>
		      <td>the logger</td>
		    </tr>
		  </table>
	    </p>
	  </subsection>
    </section>
  </body>
</document>  
  